.form-main-div-product-sell {
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    top: 99px;
    width: 100%;
    height: 87%;
    z-index: -2;
}

.selam {
    width: 100%;
    height: 40px;
    margin: 0px 0 0px;
    background-color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    border-bottom: 1px solid rgb(210, 218, 213);

    align-items: center;
    justify-content: center;
}

.selam p {
    color: #232f3e;

    font-family: 'Merienda';
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
}

.jeezdodgeit {

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.teamcompdependent {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.ana-form {
    width: 400px;
    max-height: 633px;
    background-color: white;
    border: 1px #ddd solid;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    padding: 0 10px 10px 10px;
    height: 88%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 2.4%;
    border-radius: 3px;
}

.product-form-create {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 14px;
}

.formsubmitbutton {
    position: absolute;
    bottom: -5px;
    right: 0;
    padding: 0;
    cursor: pointer;
    left: -0.9px;
    height: 33px;
    border: none;
    border: 1px #ddd solid;
    color: #ffffff;
    font-family: 'Merienda';
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
    background-color: #232f3e;
    border-radius: 0 0 3px 3px;
}


.formsubmitbuttons {
    width: 250px;
    height: 30px;
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-family: 'Merienda';
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    box-shadow: 0 1px 0 rgb(255 255 255 / 40%) inset;
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
}

.formsubmitbuttons:hover {
    background: #febd69;
    background: linear-gradient(to bottom, #f0c14b, #febd69);

}

.inputss {
    width: 250px;
}

.inputss:focus {
    outline: 1px solid rgba(0, 0, 0, .7);
}

.animationFortheform {
    right: -1000px;
    animation: editForm .5s ease forwards;

}

.modalbackgroundkidna {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.somethingelseimageloading{
    border-radius: 800px;
    width: 200px;
}


@keyframes editForm {
    0% {
        opacity: 0;
    }

    70% {
        transform: translateX(-1150px);
    }

    100% {
        transform: translateX(-1000px);
        opacity: 1;
    }
}
