.indivproduct-main-div {
    width: 100%;
    height: auto;
    top: 99px;
    position: absolute;
    background-color: white;
}

.middivallthestuff {
    width: 1483px;
    min-height: 608.6px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.imgdivibu {
    width: 390px;
    height: 303px;
    margin: 20px;
}

.infordivibu {
    width: 445px;
    height: 500px;
    margin: 20px 80px 0px 15px;
    position: relative;
    word-break: break-all;
}

.addtocartbuynowdivibu {
    width: 235px;
    height: 302px;
    border-radius: 8px;
    display: block;
    border: 1px solid #d5d9d9;
    padding: 14px 18px;
    margin: 20px;

}

.productcheckoutsection {
    padding: 14px 18px;
    width: 242px;
    height: fit-content;
    min-width: 206px;
    border: 1px solid #D5D9D9;
    margin-top: 20px;
    border-radius: 8px;
}

.price-amoutn {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 7px;
    color: #B12704;
    font-family: 'Merienda';

}

.selectnumberstack {
    display: block;
    margin: 15px 0 16px;
    width: fit-content;
    height: 20px;
    font-size: 11px;
    line-height: 20px;
    border: 1px solid #D5D9D9;
    border-radius: 8px;
    background-color: #F0F2F2;
    box-shadow: 0px 1px 5px #d6d6d6;
}

.securetransactionsection{
    margin: 8.8px 0 14px;
    font-size: 14px;
}

.bringussugarandtum{
    font-size: 12px;
    display: flex;
    width: 73%;
    justify-content: space-between;
    margin-bottom: 6px;

}

.instocksection {
    color: #007600;
    font-size: 18px;
    margin-bottom: 12px;
}

.freereturnslabel {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
}

.freereturnslink {
    color: #007185;
}

.freeeta {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
}

.fastesteta {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
}


.theimageintheindiv {
    width: 390px;
    height: 303px;
    object-fit: contain;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;

}

.productnameh1 {
    font-size: 24px;
    color: #0F1111;
    font-family: 'Merienda';
    line-height: 37px;
}

.pricethingyhehe {
    border-top: 1px solid #d5d9d9;
    border-bottom: 1px solid #d5d9d9;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-top: 20px;

}


.middivallthestuff {
    border-bottom: 1px solid #d5d9d9;
    height: auto;
}

.descriptionindivpageinside {
    margin-top: 20px;
}

.asildescription {
    margin-left: 12px;
    margin-top: 9px;
    font-family: 'Merienda';
    word-break: keep-all;

}

.onlarbizler {
    font-family: 'Merienda';
    font-weight: 700;
    font-size: 14px;
}

.muhtesem-uclu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.somebuttonadd {
    width: 204px;
    height: 29px;
    cursor: pointer;
    background-color: #FFD814;
    border: none;
    border-radius: 20px;
}

.somebuttonadd:hover {
    background-color: #f2cb09;
}

.somebuttonbuy {
    width: 204px;
    height: 29px;
    cursor: pointer;
    background-color: #FFA41C;
    border: none;
    border-radius: 20px;
}

.somebuttonbuy:hover {

    background-color: #ff8f00;
}

.reviewsmain-div {
    width: 100%;
    height: auto;
    background-color: white;
    margin-bottom: 300px;
}

.middlediv-forreviews {
    width: 1020px;
    height: auto;
    margin: 0 auto;
    display: flex;

    padding: 20px;
    padding-top: 50px;
    gap: 66px;
}

.reviewthisproductdiv {
    width: 300px;
    height: 100%;
    position: sticky;
    top: 150px
}

.h2reviewtrhisproduct {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 4px;
    margin-bottom: 4px;
    width: fit-content;

}

.pshareyourthought {
    margin-bottom: 16px;
    font-size: 14px;
    color: #0F1111;
    line-height: 20px;
}

.star-widget input {
    display: none;
}

.star-widget label {
    font-size: 20px;
    color: #444;
    transition: all 0.2s ease;
    cursor: pointer;

}

.star-widget {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

input:not(:checked)~label:hover,
input:not(:checked)~label:hover~label {
    color: #fd4
}


input:checked~label {
    color: #fd4
}



input#rate-5:checked~label {
    color: #fe7;
    text-shadow: 0 0 20px #952
}

.writecustomerreviewbutton {
    color: #0F1111;
    text-decoration: none;
    width: 298px;
    height: 29px;
    cursor: pointer;
    border: 0;
    font-size: 13px;
    text-align: center;
    white-space: nowrap;
    padding: 0 10px 0 11px;
    border: 1px solid #D5D9D9;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 5px #d6d6d6;
}

.writecustomerreviewbutton:hover {
    background-color: whitesmoke;
}

.sennediyorsun {
    width: 100%;
    border-radius: 8px;
    height: auto;
    border: 1px solid #D5D9D9;
    box-shadow: 0 2px 5px #d6d6d6;

    margin-top: 30px;
    padding: 20px;
}

textarea {
    resize: none;
}

.imgreviewind {
    width: 65px;
    margin-top: 20px;
}

.formreviewthingy {
    width: 100%;
    height: 69.6%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.cancelsubmit {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.buttoncancel {
    color: #0F1111;
    text-decoration: none;
    width: 61.23px;
    height: 29px;
    cursor: pointer;
    border: 0;
    font-size: 13px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #D5D9D9;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 5px #d6d6d6;
}

.buttoncancel:hover {
    background-color: whitesmoke;
}

.buttoncancelthing {
    background-color: white;
    box-shadow: 0 2px 5px #d6d6d6;
    cursor: pointer;
    width: 80.23px;
    height: 20px;
    font-size: 10px;
    margin-right: 6px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #D5D9D9;
    white-space: nowrap;
    margin-top: 20px;

}

.buttoncancelthing:hover {
    background-color: whitesmoke;
}

.submitbutton {

    color: #0F1111;
    text-decoration: none;
    width: 61.23px;
    height: 29px;
    cursor: pointer;
    border: 0;
    font-size: 13px;
    text-align: center;
    white-space: nowrap;
    border-radius: 8px;
    border: 1px solid #FCD200;
    box-shadow: 0 2px 5px #d6d6d6;
    background-color: #FFD814;

}


.submitbutton:hover {
    background-color: #F7CA00;
}

.reviewgrid {
    width: 700px;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.imgandusername {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 7px;
}


.oneswehurt {
    width: 73.18px;
}

.oneswehurt i {
    font-size: 13px;
    color: #444;
}

.verifiedpurchase {
    color: #c45500;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
}

.buynowmodalmaindiv {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.buynowmodalcontaiiner {
    width: 290px;
    height: 267.08px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    top: -1000px;
    flex-direction: column;
    align-items: center;
    padding: 14px;
    position: relative;
    animation: drop .3s ease forwards;
}

.placeyourorderbutton {
    border-color: #cba957 #bf942a #aa8326;
    background: #f0c14b;
    font-size: 13px;
    line-height: 19px;
    padding: 0;
    vertical-align: middle;
    border: none;
    color: #333;
    text-align: center;
    width: 250px;
    background: -webkit-linear-gradient(top, #f7dfa5, #f0c14b);
    box-shadow: 0 1px 0 rgb(255 255 255 / 40%) inset;
    height: 34px;
    overflow: hidden;
    max-width: 100%;
    text-decoration: none !important;
    border-radius: 3px;
    cursor: pointer;
}

.placeyourorderbutton:hover {
    background: #f3d078;

}
