.main-div-all-products{
    width: 100%;
    height: auto;
    position: absolute;
    top: 99px;
    background-color: white;
}

.middle-div-hehe{
    width: 100%;
    height: 100%;
    padding: 5px;
    display: grid;
    grid-template-columns: 0fr 6fr;
}

.left-navbarthingy{
}

.main-product-smallgrid{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 1425px;
    margin: 0 auto;

}

.asildiv{
    width: auto;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 279px);
    gap: 20px;
    margin-top: 20px;
}

.selam23{
    width: 100%;
    min-height: 537px;
    max-height: 537px;
    display: flex;
    flex-direction: column;
    padding: 0 4px;
}

.imgcokzor{
    width: 271px;
    height: 271px;
    object-fit: contain;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;

}

.name-price-description p{
    margin-top: 10px;
}

.name-price-description{
    position: relative;
    word-break: break-all;
    overflow: hidden;
}

.getitassonsas{
    font-size: 11px;
}

.dolarthingy{
    position: absolute;
    top: 0;
    right: 0;

}

.description-product-page{
    font-family: 'Merienda';
    font-weight: bold;
}
