footer {
    margin-top: 35%;
    width: 100%;
    height: 400px;
}

.backtotopbutton {
    width: 100%;
    height: 50px;
    border: none;
    background-color: #37475A;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.backtotopbutton:hover {

    background-color: #485769;
}

.footer-main-div {
    background-color: #232f3e;
    height: 320px;
}

.bilgiler {
    background-color: #131A22;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 11px;
}

.footerps {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    padding-top: 23px
}

.footerps p {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    height: 21px;
    margin-bottom: 15px;
}

.footerps h6 {
    color: #fff;
    font-weight: 100;
}

.someeeeeee {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footerdivs4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.technologiesused{
    display: grid;

    grid-template-columns: repeat(3, 75px);
    justify-items: center;
    row-gap: 7px;
}
