footer {
    position: absolute;
    bottom: -672px;
    width: 100%;
    height: 400px;
}

.backtotopbutton {
    width: 100%;
    height: 50px;
    border: none;
    background-color: #37475A;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.footer-main-div{
    background-color: #232f3e;
    height: 290px;
}
.bilgiler {
    background-color: #131A22;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 11px;
}
