.shoppingcarmain-div {
    position: absolute;
    top: 99px;
    width: 100%;
    height: 100%;
}

.user-products-main-divCart {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 99px;
    background-color: whitesmoke;
}

.productsGridCart {
    height: auto;
    width: 65%;
    min-width: 76%;
    background-color: white;
    margin: 0 35px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-top: 30px;
    border: 1px #D5D9D9 solid;
    padding: 20px 20px 0px 20px;
}

.somethingheree3 {
    width: 100%;
    height: 70px;
    border-bottom: 1px #D5D9D9 solid;
    display: flex;
    justify-content: space-between;
}

.h1veh6ikilisi {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.someguy {
    display: flex;
    align-items: flex-end;
}

.someguy p {
    color: #565959;
}

.productsinuserpageCart {
    height: 200px;
    margin-top: 10px;
    display: flex;
    border-bottom: 1px #D5D9D9 solid;
    justify-content: space-between;
}

.productsinuserpageCart:last-child {
    border-bottom: 0px;

}

.imginthecart {
    width: 180px;
    object-fit: contain;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
    height: 180px;
}

.imgnamepricedeletethingies {
    display: flex;
    gap: 15px;
}

.somedivdd {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.qtydelete {
    display: flex;
    gap: 7px
}

.dontholdme {
    color: #007185;
    cursor: pointer;

}

.dontholdme:hover {
    text-decoration: underline;
}

.h6deleteallitems:hover {
    text-decoration: underline;

}

.somethingheree4 {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
}

.ikincicheckout {
    width: 305px;
    height: 115px;
    background-color: white;
    position: fixed;
    right: 8px;
    top: 129px;
    padding: 20px;
    border: 1px #D5D9D9 solid;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.proceedtocheckout {
    border: none;
    height: 30.2px;
    background-color: #FFD814;
    border-radius: 7px;
    cursor: pointer;
}

.proceedtocheckout:hover {

    background-color: #F7CA00;
}
