.user-products-main-div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 99px;
    background-color: whitesmoke;
}

.productsGrid {
    width: 65%;
    height: auto;
    min-width: 987px;
    background-color: white;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-top: 30px;
    border: 1px #D5D9D9 solid;
    padding: 0px 20px 0px 20px;
}

.productsinuserpage {
    height: 200px;
    margin-top: 20px;
    display: flex;
    border-bottom: 1px #D5D9D9 solid;
}

.productsinuserpage:last-child{
    border-bottom: 0px #D5D9D9 solid;

}

.imageinthe {
    width: 135px;
    object-fit: contain;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
    height: 135px;
}

.pallikiskeye {
    display: flex;
    gap: 35px;
}

.nameusernamepricedescription p {
    font-size: 13px;
    color: #0F1111;
}


.yellowupdatethingy {
    background-color: #ffd814;
    width: 158px;
    height: 29px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    top: 34%;
    right: 0;
    font-family: 'Merienda';

}

.reddeleteproduct {
    background-color: #f64747;
    width: 158px;
    height: 29px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 30%;
    font-family: 'Merienda';


}

.herosoftonight {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    position: relative;
}

.sky p {
    font-family: 'Merienda';
    font-weight: 700;

}

.yellowupdatethingy:hover {
    background-color: #f7ca18;
}

.reddeleteproduct:hover {
    background-color: #d91e18 ;
}

.sky {
    position: absolute;
    right: 0;
    width: 158px;
}
